/* Resets */
body, h1 {
    margin: unset;
    padding: unset;
}

h1 {
    font-size: unset;
    font-weight: unset;
}

img {
    vertical-align: top;
}

/* Typography  */
:root {
    font-family: "Noto Sans KR";
    font-size: 62.5%;
}

/* Variables */
:root {
    --color-green-90: #5F9976;
    --color-green-50:#70C994;
}

/* Palette */



/* Design */
body {
    font-size: 1.6rem;
}

.article {
    display: flex;
}

.article-cover {
    width: 50vw;
    height: 100vh;
    aspect-ratio: 1280 / 1920;
}

.article-cover-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    min-width: 50vw;
    min-height: 100vh;

    box-sizing: border-box;
    padding: 21vh 13.2vw;
}

.article-contents {
    box-shadow: inset 0 0 10px #999;
}

.article-contents-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-green-90);
}